@media (min-width: 768px) {
  .navbar-brand.abs {
    /* margin-top: -24px; */
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

.container-bg {
  background-color: #ffffff;
}

/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

textarea {
  vertical-align: middle;
}
