@media (min-width: 768px) {
  .navbar-brand.abs {
    margin-top: -24px;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}

.container-bg {
  background-color: #ffffff;
}

/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type='submit'] {
  background-color: #4caf50;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: '✔';
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: '✖';
}

/*********************/

form {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
form .section {
  padding: 0.3em 0.5em;
  background-color: #fcfcfc;
  border: 0.05em solid #e0e0e0;
  border-radius: 0.5em;
}
form table {
  border-collapse: collapse;
}

form #charset label:hover {
  background-color: #f0f0f0;
}

form #charset td {
  padding: 0em;
}

form #charset input[type='checkbox'] {
  margin: 0em;
}
